<div class="right-wrapper" id="nav-bar">
  <nav id="right-sidebar">
    <div class="sidebar-item-fixed">
      <div class="sidebar-main-host">
      </div>
      <div class="nav_list">
        <h2 class="right-nav-top">おすすめユーザー</h2>
        <div class="sidebar-list">
          <ul class="users">
            <div class="users-index">
              <% @users.each do |user| %>
                <li>
                  <div class="post-show-icon">
                    <% if user.image_name? %>
                      <%= image_tag user.image_name.url, class: "host-icon" %>
                      <span class="host-name"><%= link_to user.name, napier_user_path(user) %></span>
                    <% else %>
                      <%= image_tag "/user_images/default.png", class: "host-icon" %>
                      <span class="host-name"><%= link_to user.name, napier_user_path(user) %></span>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </div>
          </ul>
        </div>
        <div class="sidebar-list">
          <%= link_to napier_about_path, class: "nav_link" do %>
            <i class="fab fa-adn nav_icon"></i>
            <span class="nav_name">ネイピアとは</span>
          <% end %>
          <a href="#" class="nav_link">
            <i class='fas fa-users-cog nav_icon'></i>
            <span class="nav_name">利用規約</span>
          </a>
          <a href="#" class="nav_link">
            <i class='fas fa-question nav_icon'></i>
            <span class="nav_name">ヘルプ</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
