<h2>おすすめユーザー</h2>
<ul class="users">
  <div class="users-index">
    <% @recommenusers.each do |user| %>
      <li>
        <div class="post-show-icon flo">
          <% if user.image_name? %>
            <%= image_tag user.image_name.url, class: "host-icon" %>
            <span class="host-name"><%= link_to user.name, user %></span>
            <div class="host-detail-items">
              <span class="host-item">投稿数 : <%= user.posts.count %></span>
              <span class="host-item">いいね数 : <%= link_to user.likes.count %></span>
            </div>
          <% else %>
            <%= image_tag "/user_images/default.png", class: "host-icon" %>
            <span class="host-name"><%= link_to user.name, user %></span>
            <div class="host-detail-items">
              <span class="host-item">投稿数 : <%= user.posts.count %></span>
              <span class="host-item">いいね数 : <%= link_to user.likes.count %></span>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </div>
</ul>