<%= render 'layouts/header' %>
<%= render 'layouts/sidebar' %>
<div class="container-fiuld post">
  <p class="top-link"><%= link_to "HOME", root_path %> / <%= link_to "検索", root_path %> / 検索結果</p>
  <h3 class="ppp"><%= @results.count %>件の検索結果</h3>
  <div class="post-user">
    <% @results.each do |post| %>
      <div class="user-feed">
        <div class="post-flame">
          <%= link_to post_path(post.id) do %>
            <div class="post-show-icon">
              <% if post.user.image_name? %>
                <%= image_tag post.user.image_name.url, class: "host-icon" %>
                <span class="host-name"><%= post.user.name %></span>
              <% else %>
                <%= image_tag "/user_images/default.png", class: "host-icon" %>
                <span class="host-name"><%= post.user.name %></span>
              <% end %>
              <% if logged_in? %>
                <% if post.user_id == current_user.id %>
                  <%= link_to post, method: :delete, data: { confirm: "#{post.name}を削除して大丈夫ですか？" } do %>
                    <i class="fas fa-trash-alt trash"></i>
                  <% end %>
                <% end %>
              <% end%>
            </div>
            <div class="post-img">
              <img src="<%= post.stockprice %>" class="post-image" alt="画像">
            </div>
            <div class="post-text-box">
              <p class="post-name"><%= post.name %></p>
              <p class="post-place"><%= post.body.truncate(100) %></p>
              <div class="post-under-items">
                <p class="post-under-item" id="post_<%= post.id %>">
                  <% if logged_in? %>
                    <% if current_user.liked_by?(post.id) %>
                      <%= render 'unlike', post: post %>
                    <% else %>
                      <%= render 'likes', post: post %>
                    <% end %>
                  <% else %>
                    <%= render 'likes', post: post %>
                  <% end %>
                </p>
                <p class="post-under-item">
                  <i class="far fa-comment"></i>
                  <%= post.comments.count %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>