<header class="navbarInverse">
  <div class="container">
    <%= link_to "Napier", root_path, id: "logo" %>
    <%= image_tag "IMG_9442.PNG", class: "napier-image" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="search-form">
          <%= search_form_for @search, url: posts_search_path do |f| %>
            <% f.label :name %>
            <%= f.search_field :name_or_body_or_place_cont, placeholder: "キーワード" %>
            <% f.submit %>
          <% end %>
        </li>
          <div class="open-btn"></div><!--開閉ボタン-->
          <div id="search-wrap"><!--表示エリアのHTML開閉ボタンをクリックするたび、search-wrap に表示用のクラス名が付与・除去されて付与の場合出現します。-->
            <form role="search" method="get" id="searchform" action="/posts/search">
              <input placeholder="キーワード" type="search" value="" name="q[name_or_body_or_place_cont]" id="q_name_or_body_or_place_cont search-text">
              <input type="submit" id="searchsubmit" value="">
            </form>
            <!--/search-wrap-->
          </div>
        <% if logged_in? %>
          <ul id="navigation">
            <li><%= link_to @current_user.name, @current_user %></li>
            <li>
              <% if @current_user.image_name? %>
                <%= image_tag @current_user.image_name.url %>
              <% else %>
                <%= image_tag "/user_images/default.png" %>
              <% end %>
              <li>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p>三</p>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuBotton">
                    <a class="dropdown-item"><%= link_to "アカウント", @current_user %></a><br>
                    <a class="dropdown-item"><%= link_to "編集", edit_user_path(@current_user) %></a><br>
                    <a class="dropdown-item"><%= link_to "投稿する", new_post_path %></a><br>
                    <a class="dropdown-item"><%= link_to "投稿一覧", @current_user %></a><br>
                    <a class="dropdown-item"><%= link_to "お気に入り企業", favorites_index_path %></a><br>
                    <a class="dropdown-item"><%= link_to "いいね一覧", likes_user_path(@current_user) %></a><br>
                    <a class="dropdown-item"><%= link_to "人気投稿ランキング", posts_post_ranking_path %></a><br>
                    <a class="dropdown-item"><%= link_to "企業一覧", companies_path %></a><br>
                    <a class="dropdown-item"><%= link_to "Napierとは", about_path %></a><br>
                    <a class="dropdown-item"><%= link_to "利用規約", '#' %></a><br>
                    <a class="dropdown-item"><%= link_to "ヘルプ", '#' %></a><br>
                    <a class="dropdown-item"><%= link_to "ログアウト", logout_path, method: :delete %></a>
                  </div>
                </div>
              </li>
            </li>
          </ul>
        <% else %>
          <li class="btn1"><%= link_to "ログイン", login_path %></li>
          <li class="btn2"><%= link_to "登録する", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-3/js/7-2-3.js"></script>
